.slick-dots {
    position: relative;
    display: flex;
    list-style-type: none;
    width: 100%;
    padding:0;
    margin:0;
    flex-wrap: wrap;

    @include media-breakpoint-up(md) {
        left: 50%;
        transform: translateX(-50%);
        
    }
    @include media-breakpoint-up(lg) {
        justify-content: space-around;
    }
    
    li {
        padding:15px 5px;
        width:100%;
        text-align: center;
        @include media-breakpoint-up(md) {
            padding:5px;
            width:auto;
            text-align: left;
        }
        

        &.slick-active {

            > a {
                color:$violet-1 !important;
            }
        }
    }
}